﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool UserLogin = ViewBag.UserLogin;
    int? UserId = ViewBag.LoginUserId ?? 0;
}

@section Styles{

    @System.Web.Optimization.Styles.Render("~/bundles/CreateAdPage")

}

@section Menu{        
        <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>
        <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>
            
}    

    <div class="fs-form-wrap" id="fs-form-wrap">

@section Title{
    <div class="fs-title">
        <h1>CREATE YOUR OWN AD</h1>
    </div>
}

        <form id="myform" class="fs-form fs-form-full cmxform" method="get" autocomplete="off">
            <input type="hidden" id="currentUser" value="@UserId" />
            <ol class="fs-fields">
                <li data-input-trigger>
                    <label class="fs-field-label fs-anim-upper" for="q1" data-info="This will help us know what kind of ad you need">Choose kind of your ad</label>
                    <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                        <span><input id="q3b" name="q1" type="radio" value="conversion" required /><label for="q3b" class="radio-conversion">Offer</label></span>
                        <span><input id="q3c" name="q1" type="radio" value="social" required /><label for="q3c" class="radio-social">Search</label></span>
                    </div>
                </li>
                @if (!UserLogin)
                {
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="txtName">What's your name?</label>
                        <input id="txtName" class="fs-anim-lower" name="txtName" type="text" placeholder="Dean Moriarty" required />
                    </li>
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="txtBirthDate" data-info="Your date of birth">Date Of Birth</label>
                        <input id="txtBirthDate" class="fs-anim-lower" name="txtBirthDate" type="text" placeholder="01.02.1990" required />
                    </li>
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="txtEmail" data-info="We won't send you spam, we promise...">What's your email address?</label>
                        <input id="txtEmail" class="fs-anim-lower" name="txtEmail" type="email" placeholder="dean@road.us" required />
                    </li>
                }
                <li>
                    <label class="fs-field-label fs-anim-upper" for="txtTitle">Add title for your ad</label>
                    <input id="txtTitle" class="fs-anim-lower" name="txtTitle" type="text" placeholder="I`m searching a flat for a day" required />
                </li>
                <li>
                    <label class="fs-field-label fs-anim-upper" for="txtArrivalDate" data-info="Choose your arrival date">Arrival Date</label>
                    <input id="txtArrivalDate" class="fs-anim-lower" name="txtArrivalDate" type="text" placeholder="01.01.2016" required />
                </li>
                <li>
                    <label class="fs-field-label fs-anim-upper" for="txtLeavingDate" data-info="Choose date when you are leaving">Leaving Date</label>
                    <input id="txtLeavingDate" class="fs-anim-lower" name="txtLeavingDate" type="text" placeholder="01.02.2016" required />
                </li>
                <li>
                    <label class="fs-field-label fs-anim-upper" for="txtAddress" data-info="You can type your address">Address</label>
                    <input id="txtAddress" class="fs-anim-lower" name="txtAddress" type="text" placeholder="Zelena 5, Lviv, Ukraine" />
                </li>
                <li>
                    <label class="fs-field-label fs-anim-upper" for="txtDescription">Describe how you imagine your visit</label>
                    <textarea id="txtDescription" class="fs-anim-lower" name="txtDescription" placeholder="Describe here" required></textarea>
                </li>
            </ol><!-- /fs-fields -->
            <button id="btnCreateAd" class=" fs-submit" type="button">Send answers</button>

        </form><!-- /fs-form -->
</div><!-- /fs-form-wrap -->

 @section Scripts{

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>
     
    @System.Web.Optimization.Scripts.Render("~/bundles/CreateAd")
}


