﻿.ad-content {
    margin:2% 15% 8% 15%;     
}

.ad-info{
    display: block;
    position: relative;
    width:100%;
    min-height:600px;
    
}

.field {
 background-color: rgba(240, 240, 240, 0.08);
 border-radius:15px;
 margin-top:20px;
 margin-bottom:20px;
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
}
#subsRow {
    text-align:right;
     margin-top:0;
     margin-bottom:-10px
}
#subs {
color: #039cb7;
}
#subs:hover {
color: white;
}

.ad-title{
    text-align: center;
    font-size:32px;    
    padding-bottom:10px;
    padding-top:10px;
    margin:0;
}
.ad-title p {
    margin:0;
}

.ad-info table {
    width: 100%;
   /* border: 3px solid #039cb7;*/
    text-align: center;
    font-size: 24px;
  
    }
.ad-info table tr {
    
}

.ad-info table td {
    width:50%;
}
.picture img{
    height:250px;
    width: 250px;

}
.left {
    text-align:left;
}
.map {
    display: block;
    position: relative;
    background-color:darkgrey;
    min-height:600px;
    height:600px;
    width:100%;
}
.pageTitle h1 {
	padding: 20px 0 0 0;
    margin:0;
    color: white;
	text-align: center;
    width:100%;
}
.comments {
    height:100%;
    margin:20px;    
    padding-top:10px;
    padding-bottom: 30px;
}
.new-comment{ 
    margin-top: 20px;
}

.new-comment-text {
    width:100%;
    height:100px;
}
.btn button {
   float:right;
}

.comm {
margin-top:100px;

}
.old-comments {
     position: relative;    
     display: inline-block;        
     border-bottom: 3px solid #039cb7;    
     padding-top: 15px; 
     padding-bottom: 15px;
     width:100%;
}

#date {
    text-align: right;
    color: black; 
}
#comment {
    font-size: 22px;
    margin-bottom:10px;
    position: relative;
    display: inline-block;
    word-break: break-all;
    width:100%;
 
}
.comment-author{
    font-size:20px;
}
.profile-link {
    height:42px;
}

img{
    margin-top:15px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}