﻿
.pageTitle h1 {
	padding: 20px 0 0 0;
    margin:0;
    color: white;
	text-align: center;
    width:100%;
}

.wrapp {
    margin-left: 18%;
    margin-right:18%;
    margin-top:3%;
    padding-top:2%;
    padding-bottom:5%;
    border-radius:15px;
    background-color: rgba(3, 156, 183, 0.3);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);
  }

.in{
    float: left; 
    display:block;
    width:100%;
    text-align: center;
}
.space {    
    width:13%;
    display: inline-block;
    position: relative;
}
.large-space { 
     width:13%;
    height:50px;
    display: inline-block;
    position: relative;
}
.high { 
    height:500px;
}
.center {
    text-align: center;
    /*background-position: center;*/
}
#send-btn {
    margin-top:0;
    margin-bottom: 0;
    margin-left:44%;
    display:inline-block;
    position: relative;
    z-index: 0;
}

.error{
    color: #9f0334;
    font-weight: bold;
    font-family:Tahoma;
    padding-top: 10px;
    float: right;
    display: inline-block;
    position: relative;
    z-index: 1;

}
#no-border{
    border-style: none;
    border:0px;
}

.jcrop-centered
{
    display: inline-block;
}
.crop-image-wrapper
{
    text-align: center;
}

#photo{
    float:none;
}

label[for=photo] {
    float: none;
    display: block;
}