﻿.error-body {
    margin:20% 15% 8% 15%;     
}


.error-body p {
text-align:center;
font-size:40px;
color: #ff165d;
margin-top:70px;
 font-weight: bold;
 font-family: Calibri;
}
.pageTitle h1 {
	padding: 20px 0 0 0;
    margin:0;
    color: white;
	text-align: center;
    width:100%;
}
