﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
@System.Web.Optimization.Styles.Render("~/bundles/mapStyle")
}

@section Menu{
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>    

}



    @section Title{
    <div class="pageTitle">
        <h1>You can find your "home" on a map</h1>
    </div>
    }
    <div class="distance">
    </div>
    <div id="map-canvas"></div>


@section Scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKJBwDFXO1LiooxmaiwcuWTx67P1S0mbs"></script>
@System.Web.Optimization.Scripts.Render("~/bundles/map")
}


