﻿<div id="dialog-about" title="About us">
    <div class="about">
        <p>Our site was created to find new friends and opportunities. 
        No more need to call the hotel and distant relatives. 
        Just Leave the announcement of finding accommodation for the night.
         Or invite you to spend the night travelers.            
        </p>
        <p style="text-align:center">Let's help each other!</p>
    </div>
</div>
