﻿<div id="dialog-feedback" title="Write to us">
    <div class="writeMessage">
        <div class="textarea textarea--kozakura">
            <textarea class="textarea__field textarea__field--kozakura" rows="3" cols="45" name="message" id="message" style="resize: none;"></textarea>
            <label class="textarea__label textarea__label--kozakura" for="message">
                <span class="textarea__label-content textarea__label-content--kozakura" data-content="message">Message</span>
            </label>
            <svg class="textarea-graphic textarea-graphic--kozakura" width="400%" height="400%" viewBox="0 0 1200 160" preserveAspectRatio="none">
                <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
            </svg>
        </div>
        <button id="sendMail" type="button" class="button button--wayra-s button--border-thick button--text-upper button--size-xs" style="margin-top:-25px;; margin-bottom:0;margin-left:430px;">SEND</button>
        </div>
    <div class="thnks" style="display:none">
        <p style="margin-top:15%; text-align: center; font-size:28px; color:white;">Thank you!</p>
     </div>
</div>

