﻿    <div id="dialog-modal" title="Login dialog">
        <form class="cmxform" id="loginForm" method="get" enctype="multipart/form-data">
            <p style="margin:-15px 0 0 0;">
                <span class="input input--kozakura">
                    <input class="input__field input__field--kozakura" type="text" id="login" name="login" autocomplete="on" />
                    <label class="input__label input__label--kozakura" for="auth-login">
                        <span class="input__label-content input__label-content--kozakura" data-content="Login">Login</span>
                    </label>
                    <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                    </svg>
                </span>
            </p>
            <p style="margin: -25px 0 0 0;">
                <span class="input input--kozakura">
                    <input class="input__field input__field--kozakura" type="password" id="password" name="password" />
                    <label class="input__label input__label--kozakura" for="pass">
                        <span class="input__label-content input__label-content--kozakura" data-content="Password">Password</span>
                    </label>
                    <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                    </svg>
                </span>
            </p>
            <span class="sign-buttons">
                <button id="btnSignIn" type="button" class="button button--wayra-s button--border-thick button--text-upper button--size-xs">Sign in</button>

                <button id="btnSignUp" type="button" class="button button--wayra-s button--border-thick button--text-upper button--size-xs">Sign up</button>
            </span>
        </form>
</div>
