﻿
@{
    bool? UserLogin=ViewBag.UserLog ?? false;
    int? UserId = ViewBag.loginUsersId ?? default(int?);
}

@if (UserLogin == true)
{
    <a href="/User/Index/@ViewBag.loginUsersId" id="profile"><i class="fa fa-fw fa fa-user"></i><span>Profile</span></a>
}
else
{
    <a href="#" id="logIn"><i class="fa fa-sign-in"></i><span>Log In</span></a>
}

