﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error500";
}
@section Styles{

    @System.Web.Optimization.Styles.Render("~/bundles/error")

}
@section Menu{
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>
    <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>

}
@section Title{
    <div class="pageTitle">
        <h1>HTTP ERROR 500 - Internal Server Error</h1>
    </div>
}
<div class="error-body">
    <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
    <p>Please contact the server administrator and inform them of the time the error occurred, and anything you might have done that may have caused the error.</p>

</div>
