@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../../Fonts/codropsicons/codropsicons.eot');
	src:url('../../Fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../../Fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../../Fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../../Fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #3b3f45;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
    color: #47a3da;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.no-result {   
    text-align: center;
    font-size:32px;
    margin-top:40px;
    margin-bottom:15px;
}

.pages input {

}


.main,
.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.pageTitle h1 {
	padding: 10px;
    margin:0;
    color: white;
	text-align: center;
}
.row {
    height:20px;
}

#firstRow {
margin-bottom:0;
}
#number-adsUp {
    display: inline-block;
    position: relative;
    float:left;
    font-size: 18px;
    color: white;
    text-align:left;   
    margin-bottom:-20px;
}
#changeNumbersUp {
    font-family: Raleway, Arial, sans-serif;
}
#number-ads {
    display: inline;
    position: relative;
    float:left;
    font-size: 18px;
    color: white;
    text-align:left;   
    margin-top:10px;

}
#number1{      
    height:100%;
    display: inline;
    position: relative;
    font-family: Tahoma;
    font-size:20px;  
    }
#number2{    
    height:100%;
    display: inline;
    position: relative;
    font-family: Tahoma;
    font-size:20px;     
}
#number3{  
    height:100%;
    display: inline;
    position: relative;
    font-family: Tahoma;
    font-size:20px; 
}

.current {
    color: #039cb7;
    text-decoration: underline;
}

.pages{
 /*   float: right;*/
    text-align: right;
    font-family: Tahoma;
    font-size:20px;  
    margin-top:10px;
}

.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #fff;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}


@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}
.showFilter {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.showFilter:hover {
    color: white;
}

.hideFilter {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    display: none;
}

.hideFilter:hover {
    color: white;
}

.wrapp {
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255, 0.3);
    padding-bottom:15px;
    display: none;
}
#search {
   text-align: center;
   padding-bottom:60px;
   margin-top:0;
}
#search-button {
    margin-left:44%;
    
}
#arrow {
margin:0;
padding:0;
width:100%;
}
