﻿
@{
     
    Layout = "~/Views/Shared/_Layout.cshtml";

    EasyVpyska.Entities.Ad ad = ViewBag.Ad ?? null;

    int? CurrentUserId = ViewBag.CurrentUserId ?? null;
    bool? IsSubscribe = ViewBag.IsSubscribe ?? false;

    bool check = false;
    if ((CurrentUserId != null) && (ad.Author.Id != null) && (ad.Author.Id != CurrentUserId) && (IsSubscribe==false))
    {
        check = true; 
    }
    
}

@section Styles{
@System.Web.Optimization.Styles.Render("~/bundles/details")
@System.Web.Optimization.Styles.Render("~/bundles/mapStyle")

}

@section Menu{    
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","SearchAd") "><i class="fa fa-fw fa fa-search"></i><span>Search an ad</span></a>
    <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>
 }

@section Title{
    <div class="pageTitle">
        <h1></h1>
    </div>
}

<div class="ad-content">
    <div class="ad-info">
        @if (check) { 
        <p id="subsRow"><a href="#" id="subs">Subscribe <i class="fa fa-check-square-o"></i></a></p>
        }
        @if (IsSubscribe==true)
        { 
            <p id="subsRow">You subscribed on this ad</p>
        }
        <div class="field">
            <div class ="ad-title">
                <p style="font-size: 18px; color: rgba(0,0,0,0.3);">Ad title:</p>
                <p style="font-weight: bold;">@ad.Title</p>
            </div>
          </div>
        <div class="field">
            <table class="author">
                <tr>
                    <td class="picture" rowspan="3">
                        <a href="/User/Index/@ad.Author.Id"><img src="@ViewBag.Image" /></a>
                    </td>
                    <td class="left">
                        Name:&ensp;@ad.Author.FirstName
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        Age:&ensp;@ad.Author.Age
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        Live in:&ensp;@ad.Author.Town
                    </td>
                </tr>
                <tr class="profile-link">
                    <td>
                        <a href="/User/Index/@ad.Author.Id">View author profile</a>
                    </td>
                    <td></td>
                </tr>
                </table>
            </div>
            <div class="field">
                <table>
                <tr>
                    <td colspan="2">
                        <p>Arrive to:&ensp;@ad.Town</p>
                    </td>
                </tr>
                <tr>
                    <td>Arrive Date:</td>
                    <td>Leave Date:</td>
                </tr>
                <tr>
                    <td>@ad.BeginTime.ToString("dd.MM.yyyy")</td>
                    <td>@ad.EndTime.ToString("dd.MM.yyyy")</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Description: &ensp;@ad.Description</p>
                    </td>
                </tr>

                </table>
                </div>
            </div>
    <p style="text-align:right; margin-top:-18px;">This ad was viewed @ad.Views times</p>

    <div id="map-canvas" style="height:600px"></div>
                
    <input type="hidden" id="Id" value=@ad.Id>


                <div class="field">
                    
                    <div class="comments">                 
                        <div class="new-comment">
                            <p>New comment:</p>
                            <div>
                                <textarea class="new-comment-text"></textarea>
                            </div>
                            <div class="validation"></div>
                            <div class="btn">
                                <button type="button" class="button button--wayra-m button--border-thick button--text-upper button--size-xs add-comment-button" value="Add Comment">Add Comment</button>
                            </div>
                        </div>

                        <div class="comm">    
                            <div id="fresh-comment">
                                </div>                      
                                @foreach (var c in ad.Comments)
                                {               
                                    if(c.IsEnabled)
                                    {                 
                                        <div class="old-comments">
                                            <p class="comment-author">@c.UserName</p>
                                            <p id="date">@c.Time.ToShortDateString()</p>
                                            <div id="comment">@c.Comment</div>
                                        </div>    
                                    }                            
                                }                            
                        </div>
                    </div>
                </div>
    </div>

    @section Scripts{
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKJBwDFXO1LiooxmaiwcuWTx67P1S0mbs"></script>
        @System.Web.Optimization.Scripts.Render("~/bundles/AdDetails")
    }
