﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int? Count = ViewBag.Count ?? default(int?);       
}
   

@section Styles{
@System.Web.Optimization.Styles.Render("~/bundles/SearchAdPage")

}

@section Menu{   
    <a href="@Url.Action("Index","CreateAd") "><i class="fa fa-fw fa fa-plus"></i><span>Create an ad</span></a>
    <a href="@Url.Action("Index","Map")"><i class="fa fa-fw fa fa-globe"></i><span>Look ads at map</span></a>
}

@section Title{
    <div class="pageTitle">
        <h1>SEARCH AND CHOOSE AD</h1>
    </div>
}
<div class="row"></div>
        <div class="main">
            <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                <div class="showFilter"><i class="fa fa-angle-double-down"></i>&ensp;SHOW SEARCH PANEL&ensp;<i class="fa fa-angle-double-down"></i>
                </div>
                <div class="hideFilter"><i class="fa fa-angle-double-up"></i>&ensp;HIDE SEARCH PANEL&ensp;<i class="fa fa-angle-double-up"></i>
                </div>
                <div class="wrapp">
                    <p id="firstRow">
                        <span class="input-s input--kozakura">                           
                            <select class="input__field input__field--kozakura" id="typeAd">
                                <option value="">All</option>
                                <option value="Search">Search</option>
                                <option value="Offer">Offer</option>
                            </select>                 
                            <label class="input__label input__label--kozakura" for="KindOfAd">
                                <span class="input__label-content input__label-content--kozakura" data-content="Kind Of Ad">Choose kind of ad</span>
                            </label>
                            <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                            </svg>
                        </span>

                        <span class="input-s input--kozakura">
                            <input class="input__field input__field--kozakura" type="text" id="city" />
                            <label class="input__label input__label--kozakura" for="city">
                                <span class="input__label-content input__label-content--kozakura" data-content="city">Insert City</span>
                            </label>
                            <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                            </svg>
                        </span>
                    </p>

                <span class="input-s input--kozakura">
                    <input class="calend input__field input__field--kozakura" type="text" id="ArrivalDate" />          
                    <label class="input__label input__label--kozakura" for="ArrivalDate">
                        <span class="input__label-content input__label-content--kozakura" data-content="Arrival Date">Choose arrival tate</span>
                    </label>
                    <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                    </svg>
                </span>

                <span class="input-s input--kozakura">
                    <input class="calend input__field input__field--kozakura" type="text" id="leaveDate" />
                    <label class="input__label input__label--kozakura" for="leaveDate">
                        <span class="input__label-content input__label-content--kozakura" data-content="Leave Date">Choose leave date</span>
                    </label>
                    <svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z" />
                    </svg>
                </span>
                                    
                    <p id="search">
                        <button type="button" class="button button--wayra-s button--border-thick button--text-upper button--size-xs" id="search-button">SEARCH</button>
                    </p>
                </div>

                <div class="cbp-vm-options">           

                    <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="Grid View">Grid View</a>
                    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="List View">List View</a>
                               
                    <div class="pages">
                        <div id="number-adsUp">
                            The number of ads:
                            <select id="changeNumbersUp">
                                <option selected>6</option>
                                <option>12</option>
                                <option>24</option>
                            </select>
                        </div>
                        <input type="button" id="firstUp" value="|<" />
                        <input type="button" id="previousUp" value="<<" />
                        <input type="text" id="currentpageUp" value="1" disabled style="width:40px; text-align: center;" />
                        <input type="button" id="nextUp" value=">>" />
                        <input type="button" id="lastUp" value=">|" />
                    </div>
                </div>
                    <div id="results">
                      @{Html.RenderPartial("PartialSearchResult");}
                    </div>              
            </div>
    
            <div id="number-ads">
                The number of ads:
                <select id="changeNumbersDown">
                    <option selected>6</option>
                    <option>12</option>
                    <option>24</option>
                </select>
            </div>
            
            <div class="pages">
                <input type="button" id="firstDown" value="|<"/>
                <input type="button" id="previousDown" value="<<" />
                <input type="text"  id="currentpageDown" value="1" disabled style="width:40px; text-align: center;"/>
                <input type="button" id="nextDown" value=">>" />
                <input type="button" id="lastDown" value=">|" />
            </div>
        </div><!-- /main -->
<div style="height:80px;"></div>

@section Scripts{
@System.Web.Optimization.Scripts.Render("~/bundles/SearchAd")
}
